In [4]:
import pandas as pd
#data=pd.read_excel("dataa.xlsx")
def convert_eps_cell(cell):
    if cell=="not available":
        return "rrrrr"
    return cell
df=pd.read_excel("dataa.xlsx",converters={
    'people':convert_eps_cell,
    'eps':convert_eps_cell
})
df

  tickets    eps revenue      people price
0   GOOGL     27      87  laary page    64
1     WMT    5.4      65         n.a    33
2    MSKT     -1      64  nbillgates    22
3     RIL  rrrrr    1023      mukesh    11
4    TATA      9     n.a        rtab   n.a

In [6]:
df.to_excel("neew.xlsx")

In [7]:
with pd.ExcelWriter('nww.xlsx')as writer:
    df.to_excel(writer,sheet_name="stoxks")